<section>
    <h2>You are viewing {{restaurant.name}} restaurants</h2>
        <article>
            <img src="{{restaurant.image}}"/>
            <h2>Name: {{restaurant.name}}</h2>
            {{#each restaurant.Menus}}
            <p>Menu: {{title}}</p>
            <p>id: {{id}}</p>
            {{/each}}
            <button id='deletebtn'>Delete</button>
        </article>
        <a href="/restaurants">Back to restaurant List</a>
</section>
<script src="/delete.js"></script>